@{
    ViewBag.Title = "Shop Online";
    ViewBag.SeoDescription = "Shop Online";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<!-- Slider -->

<div class="main_slider" style="background-image: url('@Url.Content("~/Content/assets/images/Home.png")')">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h6 style="color: #ffffff; text-shadow: 2px 2px 4px rgba(0,0,0,0.8); text-transform: uppercase; letter-spacing: 2px;">
                        Chuyên Laptop & Linh Kiện Gaming
                    </h6>

                    <h1 style="color: #ffffff; text-shadow: 3px 3px 6px rgba(0,0,0,0.9); margin-bottom: 30px;">
                        Deal hot mỗi ngày -  <br /> Khuyến mãi liền tay
                    </h1>

                    <div class="red_button shop_now_button">
                        <a href="/Product/Index" style="font-weight: bold;">MUA NGAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner -->
@Html.Action("MenuProductCategory", "Menu")

<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        @Html.Action("MenuArrivals", "Menu")
    </div>
</div>

<!-- Deal of the week -->

<div class="deal_ofthe_week" style="background-image: url('@Url.Content("~/Content/assets/images/New_Offers.png")'); background-size: cover; background-position: center; background-repeat: no-repeat; position: relative;">
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-end" style="min-height: 700px; padding-right: 50px;">

            <div class="col-lg-5 d-flex justify-content-end">
                <div class="deal_ofthe_week_content d-flex flex-column align-items-center" style="background: rgba(0,0,0,0.6); backdrop-filter: blur(10px); padding: 30px; border-radius: 20px; border: 1px solid rgba(255,255,255,0.1); box-shadow: 0 10px 30px rgba(0,0,0,0.5);">

                    <div class="section_title">
                        <h2 style="color: #ffffff; text-shadow: 2px 2px 4px rgba(0,0,0,0.8); margin-bottom: 20px; text-align: center;">Deal Of The Week</h2>
                    </div>         
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Best Sellers -->
@Html.Action("Partial_ProductSales", "Products")
<!-- Benefit -->

<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>free shipping</h6>
                        <p>Suffered Alteration in Some Form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>cach on delivery</h6>
                        <p>The Internet Tend To Repeat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>45 days return</h6>
                        <p>Making it Look Like Readable</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>opening all week</h6>
                        <p>8AM - 09PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blogs -->
@Html.Action("Partial_News_Home", "News")